{% extends 'portafolio/base.html' %}
{% block contenido %}
<div class="crud-form">
    <h2 class="mb-4" style="color:#fff;">{{ titulo }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_puesto">Puesto:</label>
            {{ form.puesto }}
        </div>
        <div class="mb-3">
            <label for="id_empresa">Empresa:</label>
            {{ form.empresa }}
        </div>
        <div class="mb-3">
            <label for="id_fecha_inicio">Fecha inicio:</label>
            {{ form.fecha_inicio }}
        </div>
        <div class="mb-3">
            <label for="id_fecha_fin">Fecha fin:</label>
            {{ form.fecha_fin }}
        </div>
        <div class="mb-3">
            <label for="id_descripcion">Descripción:</label>
            {{ form.descripcion }}
        </div>
        <div class="crud-form-actions">
            <button type="submit" class="crud-btn-primary">Guardar</button>
            <a href="{% url 'lista_experiencia' %}" class="crud-btn-secondary">Volver a la lista</a>
        </div>
    </form>
</div>
{% endblock %}