{% extends 'portafolio/base.html' %}
{% load static %}
{% block contenido %}

<!-- SOLO ADMIN VE EL BOTÓN FLOTANTE DE CREAR -->
{% if user.is_authenticated %}
<div class="fab-options-row">
    <div class="menu-container">
        <button class="card-options-btn" title="Opciones" type="button">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="card-options-menu">
            <a href="{% url 'crear_proyecto' %}" class="menu-link-blue">Crear nuevo proyecto</a>
        </div>
    </div>
</div>
{% endif %}

<div class="crud-container">
    <h1 class="display-4 fw-bold gradient-text text-center mb-5">Mis Proyectos</h1>
    <div class="card-list-grid">
        {% for proyecto in proyectos %}
        <div class="card-custom" >
            <!-- SOLO MUESTRA EL CRUD SI EL USUARIO ESTÁ AUTENTICADO -->
            {% if user.is_authenticated %}
            <div class="menu-container">
                <button class="card-options-btn" title="Opciones" type="button">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div class="card-options-menu">
                    <a href="{% url 'editar_proyecto' proyecto.id %}" class="menu-link-blue">Editar</a>
                    <a href="{% url 'eliminar_proyecto' proyecto.id %}" class="menu-link-blue">Eliminar</a>
                </div>
            </div>
            {% endif %}
            <div class="card-title-main">{{ proyecto.titulo }}</div>
            <div class="card-title-secondary">{{ proyecto.fecha|date:"d/m/Y" }}</div>
            <div class="card-description">{{ proyecto.descripcion }}</div>
            {% if proyecto.link_repo %}
            <div class="card-repo-btn-container">
                <a href="{{ proyecto.link_repo }}" target="_blank" rel="noopener" class="card-repo-btn">
                    Ver repositorio
                </a>
            </div>
            {% endif %}
        </div>
        {% empty %}
        <div class="text-center text-muted">No hay proyectos registrados.</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
