{% extends 'portafolio/base.html' %}
{% load static %}

{% block contenido %}
<div class="container about-page py-5">

    <!-- =========== SECCIÓN DE INTRODUCCIÓN  =========== -->
    <section class="about-hero text-center mb-5">
        <h1 class="display-4 fw-bold gradient-text mb-3">Conoce acerca de mí</h1>
        <p class="lead mt-3 mx-auto wide-text">
            ¡Hola! Soy Diana Jiménez, una apasionada Diseñadora Gráfica y futura Desarrolladora de Software, con un
            enfoque especial en crear experiencias de usuario (UX/UI) intuitivas y memorables.
            Me encanta aprender y aplicar nuevas tecnologías para resolver problemas creativos.
            <br>
            Además, cuento con habilidades blandas como el respeto, la disposición, trabajo en equipo, asertividad,
            comunicación, liderazgo, ganas de aprender constantemente y disposición a retos.
            Mi compromiso, actitud positiva y dedicación son siempre un aporte en cualquier equipo de trabajo.
        </p>
    </section>

    <!-- =========== SECCIÓN DE HABILIDADES =========== -->
    <section class="skills-section text-center mb-5">
        <h2 class="fw-bold">Habilidades</h2>
        <p class="text-muted">Estas son algunas de las tecnologías, herramientas y habilidades personales que manejo.
        </p>

        <div class="row mt-4 justify-content-center">
            {% for habilidad in habilidades_tecnicas %}
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                <div class="card-base skill-card">
                    {{ habilidad.icono|safe }}
                    <h5>{{ habilidad.nombre }}</h5>
                    <span class="habilidad-nivel text-info">Nivel: {{ habilidad.get_nivel_display }}</span>
                </div>
            </div>
            {% endfor %}
            {% for habilidad in habilidades_blandas %}
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                <div class="card-base skill-card">
                    {{ habilidad.icono|safe }}
                    <h5>{{ habilidad.nombre }}</h5>
                    {# Las blandas NO muestran nivel #}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
