{% extends 'base.html' %}
{% block title %}Proyectos – Portafolio{% endblock %}
{% block contenido %}
  <h1 class="mb-4">Proyectos</h1>
  <p>A continuación algunos de mis trabajos destacados:</p>
  <ul>
    <li><strong>Proyecto A</strong>: Sitio web de e‑commerce con Django y Bootstrap.</li>
    <li><strong>Proyecto B</strong>: API REST con Django Rest Framework y token JWT.</li>
    <li><strong>Proyecto C</strong>: Aplicación de Asesorias en tiempo real usando WebSockets.</li>
  </ul>
  <p>Pronto agregaré más proyectos... </p>
{% endblock %}
